/**
 * Block
 */

.hwc-accordion {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: var(--hwc-spacing-small-4);
  list-style: none;
  border: none;
  border-bottom: var(--hwc-border-thickness) solid var(--hwc-color-gray-light-fill);
  font-family: var(--hwc-font-primary-regular);
  fill: var(--hwc-color-black);
  color: var(--hwc-color-black);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;


  /**
   * Elements
   */

  &__item {
    transition: height var(--hwc-transition-time-normal) var(--hwc-transition-easing-normal);
    overflow: hidden;

    &:first-child .hwc-accordion__trigger {
      border: 0;
    }
  }

  &__trigger {
    position: relative;
    display: block;
    width: 100%;
    padding: calc(var(--hwc-spacing-small-3) * 2) 0;
    padding-right: var(--hwc-spacing-medium-2);
    border: 0;
    border-top: var(--hwc-border-thickness) solid var(--hwc-color-gray-light-fill);
    font-family: var(--hwc-font-primary-regular);
    font-size: var(--hwc-font-size-p);
    text-align: left;
    color: inherit;
    background-color: transparent;

    &:hover {
      color: var(--hwc-color-primary-dark);
      outline: 0;
    }

  }

  &__icon {
    position: absolute;
    top: 38px;
    right: 2px;
    transition: transform 0.2s ease;
  }



  &__contents {
    padding: 0 0 var(--hwc-spacing-medium-4);
  }

  &__contents:first-of-type p,
  &__contents:first-of-type ul,
  &__contents:first-of-type ol  {
    margin-top: 0;
  }

  &__contents[aria-hidden=true] a {
    visibility: hidden;
  }

  &__item--expanded .hwc-accordion__trigger {
    color: var(--hwc-color-primary-dark);
  }
}
