/**
 * Block
 */

.hwc-link {
    text-decoration: none;
    font-family: var(--hwc-font-primary-regular);
    font-size: var(--hwc-font-size-p);
    border-bottom: var(--hwc-border-thickness) solid var(--hwc-color-link-underline);
    fill: var(--hwc-color-link);
    color: var(--hwc-color-link);
    transition: all 0.1s ease;
    cursor: pointer;
    margin-right: 3px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased; 

    &:last-of-type {
        margin-right: 0;
    }

    &:hover,
    &:active {
        color: var(--hwc-color-link-hover);
        fill: var(--hwc-color-link-hover);
        border-color: var(--hwc-color-link-underline-hover);

        & .hwc-link__text {
            border-color: var(--hwc-color-link-underline-hover);
        }
    }

    /**
     * Modifers
     */

    &--inverted {
        color: var(--hwc-color-white);
        text-decoration-color: var(--hwc-color-primary);
        border-color: currentColor;
        &:hover,
        &:active {
            color: var(--hwc-color-primary-light);
            border-color: currentColor;
        }
        &:disabled {
            color: var(--hwc-color-gray-dark);
            fill: currentColor;
            border-color: currentColor;
            outline: 0 !important;
            box-shadow: none !important;
            cursor: default;
        }
    }

    &--small {
        font-size: var(--hwc-font-size-small);
    }

    &--big {
        font-size: var(--hwc-font-size-h3);
    }

    &--no-underline {
        font-family: var(--hwc-font-primary-medium);
        color: var(--hwc-color-primary-dark);
        text-decoration: none;
        border-bottom: none;

        &:hover {
            color: var(--hwc-color-primary-dark);
            text-decoration: underline;
            text-underline-color: var(--hwc-color-primary-dark);
            border-bottom: none;
        }
    }

    &--solid {
        color: var(--hwc-color-black);
        border-color: var(--hwc-color-black);
        &:hover,
        &:active {
            color: var(--hwc-color-black-hover);
            border-color: var(--hwc-color-black-hover);
        }
    }
}
