@mixin button {
    display: inline-block;
    padding: var(--hw-spacing-small-3) var(--hw-spacing-medium-2);
    margin-top: 3px;
    margin-right: var(--hw-spacing-small-4);
    border-radius: var(--hw-border-radius);
    border-width: 0px;
    background: var(--hw-color-gray-normal);
    border-color: var(--hw-color-gray-normal);
    color: var(--hw-color-button-text);
    fill: var(--hw-color-button-text);
    font-family: var(--hw-font-primary-medium);
    font-size: var(--hw-font-size-small);
    line-height: var(--hw-font-size-p);
    transition: all var(--hw-transition-time-quick) var(--hw-transition-easing-normal);
    text-align: center; /* Center text when this is an <a> */
    cursor: pointer;
    word-break: normal;
}