/**
 * Block
 */

 label.hwc-label {
    color: var(--hwc-color-black);
    font-size: var(--hwc-font-size-caption);
    font-family: var(--hwc-font-primary-regular);
    margin-bottom: 0;
    line-height: 2;
    display: block;
    text-align: left;
  
    transition: color var(--hwc-transition-time-normal) var(--hwc-transition-easing-normal);
  
    &:focus-within {
      color: var(--hwc-color-input-accent);
    }
  
  
    /**
     * Modifiers
     */
  
    &[disabled], &:disabled, &[disabled="disabled"], &--disabled {
      color: var(--hwc-color-black);
      pointer-events: none;
  
      .hwc-input {
        color: var(--hwc-color-gray-dark);
        fill: var(--hwc-color-gray-dark);
      }
    }
  
    &--line {
    //   .hwc-input {
    //     @extend .hwc-input--line;
    //   }
    //   .hwc-dropdown, .hwc-dropdown--native {
    //     @extend .hwc-dropdown--line;
    //   }
    //   .hwc-autocomplete {
    //     @extend .hwc-autocomplete--line;
    //   }
    //   .hwc-password {
    //     @extend .hwc-password--line;
    //   }
    //   .hwc-textarea {
    //     @extend .hwc-textarea--line;
    //   }
    //   .hwc-error {
    //     @extend .hwc-error--not-indented;
    //   }
  
  
      &[disabled], &:disabled, &[disabled="disabled"], &--disabled, &[readonly] {
        background-color: var(--hwc-color-gray-normal);
        padding-left: var(--hwc-spacing-small-4);
        padding-top: var(--hwc-spacing-small-2);
        border-radius: var(--hwc-border-radius);
        color: var(--hwc-color-gray-dark);
        fill: var(--hwc-color-gray-dark);
  
        .hwc-input {
          padding-left: 0px;
          padding-top: var(--hwc-spacing-small-2);
          color: var(--hwc-color-gray-dark);
          fill: var(--hwc-color-gray-dark);
        }
      }
  
      &[readonly]:focus-within {
        color: var(--hwc-color-input-accent);
        border-bottom: var(--hwc-border-thickness) solid var(--hwc-color-input-accent);
      }
  
    }
  }
  