@use '../node_modules/@posten-hedwig/core/sass/mixins';
.hwc-navbar__menu-button {
    z-index: var(--z-index--navbar-drawer-foreground);
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    padding-left: var(--hwc-spacing-medium-2);
    padding-right: var(--hwc-spacing-medium-2);
    border: 0;
    font-size: var(--hwc-font-size-small);
    transition: color 0.1s ease;
    height: 44px;

    &-label-menu,
    &-label-close {
        display: inline;
    }

    @include mixins.large {
        position: relative;
        height: 72px;
        padding-right: 0;

        &-label-menu,
        &-label-close {
            padding-right: var(--hwc-spacing-small-4);
            word-break: normal;
        }
    }

    .hwc-navbar__icon {
        transform: scale(0.9, 0.9);
    }

    .hwc-navbar__times {
        transform: scale(0.8, 0.8) translateY(1px);
    }
    &-toggle {
        width: 21px;
        svg {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

@include mixins.large {
    .hwc-navbar .hwc-navbar__menu-button-label-menu {
        display: inline;
    }
    .hwc-navbar--active {
        & .hwc-navbar__menu-button-label-close {
            display: inline;
        }
        & .hwc-navbar__menu-button-label-menu {
            display: none;
        }
    }
}
