@use '../node_modules/@posten-hedwig/core/sass/mixins';
/**
 * Block
 */

.hwc-navbar {
    /**
   * Elements
   */

    &__drawer {
        background: var(--hwc-color-white);
        width: 100%;
        min-height: 100vh;
        padding: 0;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        transform: rotateX(90deg);
        transform-origin: top;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        z-index: var(--z-index--navbar-drawer)
    }

    &__drawer-content {
        margin-top: var(--hwc-navbar-height);
        padding-top: var(--hwc-spacing-small-4);
        padding-left: var(--hwc-spacing-small-4);
        padding-right: var(--hwc-spacing-small-4);

        font-size: var(--hwc-font-size-small);

        a,
        .hwc-link {
            border-bottom: none !important;
            text-decoration: none;
        }

        h5 {
            font-size: var(--hwc-font-size-small);
            font-family: var(--hwc-font-primary-medium);
            margin-bottom: var(--hwc-spacing-small-4);
        }

        .hwc-flex {
            padding-top: var(--hwc-spacing-large-2);
        }

        ul {
            margin-top:0;
            margin-bottom: var(--hwc-spacing-small-4);
            list-style: none;
            padding: 0;
        }

        ul li {
            margin-bottom: var(--hwc-spacing-small-2)
        }

        ul li:last-of-type {
            margin-bottom:0;
        }

        ul li a {
            color: var(--hwc-color-primary-darker);
            fill: var(--hwc-color-primary-darker);
            line-height: unset;
            font-size: var(--hwc-font-size-p)
        }
        ul li img {
            margin-left: -2px;
            margin-right: var(--hwc-spacing-small-3);
            vertical-align: top;
        }

        @include mixins.large {
            padding-left: var(--hwc-spacing-medium-2);
            padding-right: var(--hwc-spacing-medium-2);
        }

        @include mixins.xlarge {
            padding-left: var(--hwc-spacing-medium-4);
            padding-right: var(--hwc-spacing-medium-4);
        }
    }

    &__drawer-mobile {
        /*max-width: 690px;*/
        margin: 0 auto;
        padding-left: var(--hwc-spacing-small-3);
        padding-right: var(--hwc-spacing-small-3);

        ul {
            margin-bottom: var(--hwc-spacing-medium-4);
            li {
                margin-bottom: var(--hwc-spacing-small-4);
            }
            a {
                display: inline-flex;
            }
        }

        @include mixins.medium-max {
            .hwc-container {
                margin: 0;
                padding: 0;
            }
        }
    }

    &__drawer-desktop {
        display: block;
        max-width: var(--hwc-width-wide);
        margin: 0 auto;
        padding-left: var(--hwc-spacing-medium-2);
        padding-right: var(--hwc-spacing-medium-2);
    }

    /**
   * Modifiers
   */

    &--active {
        & .hwc-navbar__drawer {
            transform: rotateX(0deg);
            transform-origin: top;
            opacity: 1;
            visibility: visible;
            z-index: var(--z-index--navbar-drawer);
        }
    }
}
