@use '../node_modules/@posten-hedwig/core/sass/mixins';
/**
 * Block
 */
.hwc-navbar {
    position: relative;

    background: var(--hwc-color-white);
    height: var(--hwc-navbar-height);
    font-family: var(--hwc-font-primary-regular);
    text-align: left;
    -webkit-font-smoothing: antialiased;

    /**
   * Elements
   */

    &__content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    &__top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        padding-left: var(--hwc-spacing-medium-3);
        padding-right: var(--hwc-spacing-medium-3);

        @include mixins.xlarge {
            padding-left: var(--hwc-spacing-medium-3);
            padding-right: var(--hwc-spacing-medium-3);
        }
    }

    &__logo {
        position: relative;
        height: var(--hwc-navbar-height);
        padding: 9px;
        margin: 0 auto;
        transform: translateY(0);
        opacity: 1;

        .hwc-logo {
            visibility: visible;
            opacity: 1;
            height: 100%;
            vertical-align: middle;
        }

        &-flagship {
            font-size: var(--hwc-font-size-max-h3-px);
            font-family: var(--hwc-font-primary-medium);
            color: var(--hwc-color-primary-darker);
            height: 45px;
            top: 6px;
            margin-left: var(--hwc-spacing-medium-1);
            border-left: 1px solid var(--hwc-color-gray-normal);
            padding-left: var(--hwc-spacing-medium-1);
            display: inline-block;
            position: relative;
            line-height: 45px;
            text-transform: capitalize;
            @include mixins.small {
                font-size: var(--hwc-font-size-max-h2-px);
                height: 60px;
                line-height: 60px;
                top: 13px;
                margin-left: var(--hwc-spacing-medium-2);
                padding-left: var(--hwc-spacing-medium-2);
            }
        }

        &-internal-service {
            font-size: var(--hwc-font-size-h3-title);
        }

        @include mixins.large {
            position: relative;
            margin: 0;
            padding: 0;
        }
    }

    &__skip-to-content {
        top: -50px;
        left: 0;
        opacity: 0;
        padding: var(--hwc-spacing-small-3);
        position: absolute;
        outline-offset: calc(-1 * var(--hwc-spacing-small-3));
        font-size: var(--hwc-font-size-small);
        z-index: var(--z-index--navbar);
        color: var(--hwc-color-primary);

        &:active,
        &:focus {
            top: var(--hwc-navbar-height);
            background-color: var(--hwc-color-white);
            opacity: 1;
        }
    }

    &__menu {
        display: flex;
    }

    &__item {
        z-index: var(--z-index--navbar-drawer-foreground);
        display: none;
        border: 0;
        cursor: pointer;
        text-decoration: none;
        transition: color 0.1s ease;
        font-size: var(--hwc-font-size-small);
        line-height: var(--hwc-navbar-height);

        @include mixins.large {
            display: inline-block;
        }
    }

    &__icon {
        vertical-align: middle;
        width: calc(var(--hwc-spacing-small-3) * 2);
        height: calc(var(--hwc-spacing-small-3) * 2);
    }

    @include mixins.large {
        &__icon {
            margin-left: var(--hwc-spacing-small-2);
        }
        &__item,
        &__menu-button,
        &__search-button {
            padding-left: var(--hwc-spacing-medium-3);
        }
    }

    & .hwc-navbar__item,
    & .hwc-navbar__search-button,
    & .hwc-navbar__menu-button,
    &__item,
    &__search-button,
    &__menu-button {
        height: var(--hwc-navbar-height);
        color: inherit;
        background-color: transparent;
        &:hover {
            color: var(--hwc-color-link-hover);
        }
    }

    &__search {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: var(--z-index--navbar-search);
        height: var(--hwc-navbar-height);
        transition: all var(--hwc-transition-time-debug)
            var(--hwc-transition-easing-out);

        .hwc-search__inner {
            background: var(--hwc-color-white);
            border-radius: var(--hwc-border-radius);

            form {
                position: absolute;
                width: calc(
                    100% - var(--hwc-spacing-medium-2) -
                        var(--hwc-spacing-medium-2)
                );
            }
        }

        .hwc-search,
        input {
            height: var(--hwc-navbar-height);

            .hwc-search__suggestions {
                top: calc(
                    var(--hwc-navbar-height) + var(--hwc-spacing-small-2)
                );
                left: var(--hwc-spacing-medium-2);
                right: var(--hwc-spacing-medium-2);
                width: calc(
                    100% - var(--hwc-spacing-medium-2) -
                        var(--hwc-spacing-medium-2)
                );
            }

            .hwc-search__button-inside {
                display: none;
            }
        }

        .hwc-search__icon {
            margin-left: var(--hwc-spacing-small-3);
            margin-top: 1px;
            width: var(--hwc-spacing-medium-2);
            height: var(--hwc-spacing-medium-2);
        }
        .hwc-search__input {
            margin-left: 18px;
        }

        @include mixins.large {
            .hwc-search__input {
                margin-left: var(--hwc-spacing-medium-4);
            }
            .hwc-search__icon {
                margin-left: calc(var(--hwc-spacing-medium-4) - 2px);
            }

            .hwc-search,
            input {
                .hwc-search__suggestions {
                    max-width: var(--hwc-navbar-search-max-width);
                    left: var(--hwc-spacing-medium-4);
                }

                .hwc-search__button-inside {
                    display: block;
                    left: calc(
                        var(--hwc-spacing-medium-4) +
                            var(--hwc-navbar-search-max-width) -
                            var(--hwc-spacing-small-4) -
                            var(--hwc-spacing-small-3)
                    );
                    width: 18px;
                }
            }
            input {
                width: calc(
                    var(--hwc-navbar-search-max-width) -
                        var(--hwc-spacing-medium-4)
                );
            }
            .hwc-search__inner {
                form {
                    width: 100%;
                }
            }
        }
    }

    &__overlay {
        visibility: hidden;
        background: var(--hwc-color-gray-normal);
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        transition: opacity var(--hwc-transition-time-normal)
            var(--hwc-transition-easing-normal);

        @include mixins.large {
            background: var(--hwc-color-black);
            opacity: 0.3;
        }
    }

    &__close-search {
        position: absolute;
        right: 30px;
        width: 11px;
        top: 0px;
        border: 0;
        font-size: var(--hwc-font-size-small);
        line-height: 1;
        z-index: 401;
        color: var(--hwc-color-black);
        background-color: transparent;

        @include mixins.large {
            right: 55px;
        }
    }

    &__bars,
    &__times {
        transition: opacity 0.1s ease;
    }

    &__bars {
        visibility: visible;
    }

    &__times {
        position: absolute;
        opacity: 0;
    }

    /**
  * Modifers: states
  */

    &--searching {
        .hwc-navbar__search {
            display: block;
            z-index: var(--z-index--navbar-search-foreground);
        }

        .hwc-search__input {
            animation-name: fadein;
            animation-duration: var(--hwc-transition-time-slow);
        }
        .hwc-search__suggestions {
            animation-name: fadeinupdelayed;
            animation-duration: var(--hwc-transition-time-slow);
        }

        .hwc-navbar__overlay {
            visibility: visible;
            z-index: var(--z-index--navbar-search);
        }
    }

    /**
   * Modifiers: variants
   */

    &--fixed &__content {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: var(--hwc-color-white);
        z-index: var(--z-index--navbar);
    }

    &--active {
        background: transparent;

        /**
     * Logo while the menu is open
     */
        & .hwc-navbar__logo {
            z-index: var(--z-index--navbar-drawer-foreground);
            background: transparent !important;

            @include mixins.large {
                transform: translateY(0);
                opacity: 1;
            }
        }

        & .hwc-navbar__bars {
            opacity: 0;
        }

        & .hwc-navbar__times {
            opacity: 1;
        }
    }

    &--absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: var(--z-index--navbar);
        margin-bottom: 65px;
    }

    &--transparent {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: var(--z-index--navbar);
        background: none;
        border: 0;
    }

    &--frontpage {
        margin-bottom: 0;
    }

    & .hwc-navbar__logo--service {
        margin: 0;
    }

    & .hwc-navbar__top--service {
        padding-left: var(--hwc-spacing-small-4);
        @include mixins.small {
            padding-left: var(--hwc-spacing-medium-3);
        }
    }
}

.hwc--searching {
    display: none;
    @include mixins.large {
        display: block;
    }
}

@keyframes fadeinup {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeinupdelayed {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    30% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
