@use '../node_modules/@posten-hedwig/core/sass/mixins';
/**
 * Block
 */

.hwc-navbar__search-button {
    z-index: var(--z-index--navbar-drawer-foreground);
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    font-size: var(--hwc-font-size-smaller);
    padding-left: calc(var(--hwc-spacing-small-4) + var(--hwc-spacing-small-3));
    padding-right: var(--hwc-spacing-small-3);
    height: 54px;
    transition: color 0.1s ease;

    & .hwc-navbar__search-text {
        display: none;
    }
    @include mixins.large {
        position: relative;
        font-size: var(--hwc-font-size-small);
        height: 72px;
        padding-right: 0;
        & .hwc-navbar__search-text {
            display: inline-block;
        }
    }
}
