.hwc-navbar__search-field {
    color: var(--hwc-color-gray-dark);
    position: relative;
    display: block;
    width: 100%;
    height: var(--hwc-input-field-height);
    padding: var(--hwc-spacing-small-4);
    font-family: var(--hwc-font-primary-regular);
    font-size: var(--hwc-font-size-small);
    line-height: normal;
    border: var(--hwc-border-thickness) solid transparent;

    transition: border var(--hwc-transition-time-quick);
    transition: border var(--hwc-transition-time-normal) var(--hwc-transition-easing-normal);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    background: transparent;

    border-bottom: var(--hwc-border-thickness) solid var(--hwc-color-gray-normal);
    padding-left: 0px;
    padding-top: var(--hwc-spacing-small-1);
    padding-bottom: var(--hwc-spacing-small-3);
    height: calc(var(--hwc-input-field-height) - var(--hwc-spacing-small-4)  - var(--hwc-spacing-small-4) + var(--hwc-spacing-small-1) +  var(--hwc-spacing-small-3));
    border-radius: 0px;

}