@use '../node_modules/@posten-hedwig/core/sass/mixins';

.hwc-navbar__selector {
    position: relative;
    vertical-align: baseline;
    margin-right: auto;
    margin-left: 8%;
    padding-left: var(--hwc-spacing-medium-3);
    line-height: var(--hwc-navbar-height-mobile);
    z-index: var(--z-index--navbar-drawer-foreground);
    cursor: pointer;
    transition: color 0.1s ease;

    .hwc-navbar__selector-item {
        a {
            border: none;
            background: transparent;
            padding: var(--hwc-spacing-small-4) var(--hwc-spacing-small-2);
            font-size: var(--hwc-font-size-small);
            margin-right: var(--hwc-spacing-small-2);
            color: var(--hwc-color-black);

            &:hover {
                color: var(--hwc-color-link-hover);
            }
        }

        &.hwc-navbar__selector-item__selected a {
            border-bottom: var(--hwc-border-thickness-thick) solid var(--hwc-color-primary) !important;
        }
    }

    @include mixins.large {
        display: inline-block;
        height: var(--hwc-navbar-height-desktop);
        line-height: var(--hwc-navbar-height-desktop);
    }

    &__mobile {
        display: block;
        border-bottom: var(--hwc-border-thickness) solid var(--hwc-color-gray-light-stroke);
        width: calc(100% + var(--hwc-spacing-small-3) + var(--hwc-spacing-small-3) + var(--hwc-spacing-small-4) + var(--hwc-spacing-small-4));
        margin-left: calc(var(--hwc-spacing-small-3) * -1 + var(--hwc-spacing-small-4) * -1);
        margin-top: 0;
        margin-bottom: var(--hwc-spacing-medium-4);
        padding: 0;
        padding-bottom: var(--hwc-spacing-small-4);
        line-height: 1;

        .hwc-navbar__selector-item:first-of-type a {
            margin-left: calc(var(--hwc-spacing-small-3) + var(--hwc-spacing-small-4));
        }
        @include mixins.medium {
            border-bottom: 0px;
        }
    }
}
