@use '../node_modules/@posten-hedwig/core/sass/mixins';

.hw-slim-footer {
    -webkit-font-smoothing: antialiased;
    font-family: var(--hw-font-primary-regular);
    background: var(--hw-color-primary-darker);
    padding-top: calc(var(--hw-spacing-large-1) + var(--hw-spacing-medium-2));
    padding-bottom: var(--hw-spacing-large-3);
    margin: 0 auto;

    &__logo-link {
        position: relative;
        height: 75px;
        display: inline-block;
    }

    .hw-slim-footer__importantlinks a {
        text-decoration: none;
        border-bottom: var(--hw-border-thickness) solid var(--hw-color-link-underline);
        font-size: var(--hw-font-size-smaller);
        color: var(--hw-color-primary-lighter);
        transition: all 0.1s ease;
        cursor: pointer;
        margin-right: 3px;
        margin-left: var(--hw-spacing-medium-2);
        padding-bottom: var(--hw-spacing-small-1);
        &:last-of-type {
            margin-right: 0;
        }
        &:first-of-type {
            margin-left: 0;
        }
        @include mixins.large {
            margin-left: var(--hw-spacing-medium-3);
            &:first-of-type {
                margin-left: var(--hw-spacing-medium-3);
            }
        }
        &:hover {
            color: var(--hw-color-primary-light);
            border-bottom-color: var(--hw-color-primary-light);
            text-decoration-color: var(--hw-color-primary-light);
        }
    }

    .hw-copyright {
        color: var(--hw-color-primary-lighter);
        text-decoration-color: var(--hw-color-primary);
        font-size: var(--hw-font-size-smaller);
    }

    .hw-slim-footer__element-float-right {
        margin-top: var(--hw-spacing-medium-2);
        float: right;
    }
}
