/** 
 * Variables - Bring 
 */
:root {
    .hwc-theme-bring {
        /**
     * Colors
     */

        --hwc-color-primary: #7bc144;
        --hwc-color-primary-dark: #00643a;
        --hwc-color-primary-darker: #002f19;
        --hwc-color-primary-light: #c8dc8c;
        --hwc-color-primary-lighter: #f1f7e9;

        /**
    * Opaque colors
    */
        --hwc-color-opaque-primary: rgba(123, 193, 68, 0.95); /* #7bc144 */

        /**
      * Link Colors
      */

        --hwc-color-link: var(--hwc-color-black);
        --hwc-color-link-underline: var(--hwc-color-primary);
        --hwc-color-link-hover: var(--hwc-color-primary-dark);
        --hwc-color-link-underline-hover: var(--hwc-color-primary-dark);

        /**
      * Component colors
      */
        --hwc-color-input-accent: var(--hwc-color-primary-dark);
        --hwc-color-checkbox-accent: var(--hwc-color-primary-dark);

        /**
      * Button Colors
      */
        --hwc-color-button-primary-hover: #86cc4a;
        --hwc-color-button-primary-light-hover: #d3e593;

        /**
     * Color mappings
     */

        --hwc-color-button-text: var(--hwc-color-black);

        /**
     * Font families
     */
        --hwc-h1-large-font-family: var(--hwc-font-primary-light);
        --hwc-h1-font-family: var(--hwc-font-primary-light);
        --hwc-h2-font-family: var(--hwc-font-primary-light);
        --hwc-h3-font-family: var(--hwc-font-primary-regular);
        --hwc-h4-font-family: var(--hwc-font-primary-regular);
        --hwc-h5-font-family: var(--hwc-font-primary-regular);
        --hwc-h6-font-family: var(--hwc-font-primary-regular);
        --hwc-caption-font-family: var(--hwc-font-primary-regular);
        --hwc-technical-font-family: var(--hwc-font-primary-regular);
        --hwc-card-title-font-family: var(--hwc-font-primary-light);
    }
}
