@use '../node_modules/@posten-hedwig/core/sass/mixins';
.hwc-logo {
    height: 75px;
    &__bring {
        width: 94.5px;
        @include mixins.large {
            width: 128px;
        }
    }
    &__posten {
        width: 118.42px;
        @include mixins.large {
            width: 158px;
        }
    }
}
