/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-family: var(--hwc-font-primary-regular);
    font-size: var(--hwc-font-size-p);
    font-weight: 400;
    fill: var(--hwc-color-black);
    color: var(--hwc-color-black);
    line-height: 1.4;
    cursor: auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--hwc-font-primary-regular);
    background: var(--hwc-color-white);
    fill: var(--hwc-color-black);
    color: var(--hwc-color-black);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    /* For sticky footer */
    & main {
        flex: 1 0 auto;
    }
}

body,
.smooth-container {
    scroll-behavior: smooth;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
}

input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
}
