@use '../node_modules/@posten-hedwig/core/sass/mixins';

/**
 * Container
 */

.hwc-container {
    display: block;
    margin: 0 auto;
    padding: 0 var(--hwc-spacing-small-4);
}

/* 720px - max-width: 590px */
@include mixins.medium {
    .hwc-container {
        max-width: var(--hwc-width-slim);
        padding: 0;
    }
}

/* 940px - max-width: 1200px 36px gutters */
@include mixins.large {
    .hwc-container {
        max-width: var(--hwc-width-wide);
        padding: 0 var(--hwc-spacing-medium-3);
    }
}

/**
    * Modifiers
    */

.hwc-container--slim {
    display: block;
}

/* 720px - max-width: 590px */
@include mixins.medium {
    .hwc-container--slim {
        max-width: var(--hwc-width-slim);
        padding: 0;
    }
}

/* 940px - max-width: 762px 36px gutters */
@include mixins.large {
    .hwc-container--slim {
        max-width: 762px;
        padding: 0 var(--hwc-spacing-medium-3);
    }
}

.hwc-container--pt {
    padding-top: var(--hwc-spacing-small-3);
}

.hwc-container--pb {
    padding-bottom: var(--hwc-spacing-small-3);
}

.hwc-container--mt {
    margin-top: var(--hwc-spacing-small-3);
}

.hwc-container--mb {
    margin-bottom: var(--hwc-spacing-small-3);
}

/* 720px - max-width: 590px */
@include mixins.medium {
    .hwc-container--pt {
        padding-top: var(--hwc-spacing-medium-3);
    }

    .hwc-container--pb {
        padding-bottom: var(--hwc-spacing-medium-3);
    }

    .hwc-container--mt {
        margin-top: var(--hwc-spacing-medium-3);
    }

    .hwc-container--mb {
        margin-bottom: var(--hwc-spacing-medium-3);
    }
}

/* 940px - max-width: 762px 36px gutters */
@include mixins.large {
    .hwc-container--mt {
        margin-top: var(--hwc-spacing-large-1);
    }

    .hwc-container--mb {
        margin-bottom: var(--hwc-spacing-large-1);
    }
}

/* 1200px - max-width: 762px 36px gutters */
@include mixins.xlarge {
    .hwc-container--pt {
        padding-top: var(--hwc-spacing-medium-4);
    }

    .hwc-container--pb {
        padding-bottom: var(--hwc-spacing-medium-4);
    }
}
