select.hw-dropdown {
    position: relative;
    height: var(--hw-input-field-height);

    border: none;
    border-radius: var(--hw-border-radius);
    display: flex;
    width: 100%;
    height: var(--hw-input-field-height);
    font-size: var(--hw-font-size-small);
    cursor: pointer;
    color: var(--hw-color-black);
    background-color: var(--hw-color-gray-light-fill);
    -webkit-appearance: none;
    padding: var(--hw-spacing-small-4);
    transition: border-color 0.3s ease, max-height 0.3s ease,
        transform 0.3s ease;

    &:hover,
    &:active {
        border-color: var(--hw-color-gray-dark);
    }

    background-image:
      /* Cut off the sharp ends of the arrow */ linear-gradient(
            45deg,
            transparent 74%,
            var(--hw-color-gray-light-fill) 0%
        ),
        linear-gradient(
            135deg,
            var(--hw-color-gray-light-fill) 26%,
            transparent 26%
        ),
        /* Draw the arrow */
            linear-gradient(
                135deg,
                transparent 0,
                transparent 72%,
                var(--hw-color-gray-light-fill) 73%,
                var(--hw-color-gray-light-fill) 100%
            ),
        linear-gradient(
            45deg,
            var(--hw-color-gray-light-fill) 0,
            var(--hw-color-gray-light-fill) 28%,
            var(--hw-color-gray-dark) 29%,
            var(--hw-color-gray-dark) 37%,
            transparent 38%,
            transparent 100%
        ),
        linear-gradient(
            135deg,
            transparent 0,
            transparent 62%,
            var(--hw-color-gray-dark) 63%,
            var(--hw-color-gray-dark) 71%,
            var(--hw-color-gray-light-fill) 72%,
            var(--hw-color-gray-light-fill) 100%
        );
    background-size: var(--hw-spacing-small-4) var(--hw-spacing-small-4);
    background-position: calc(100% - var(--hw-spacing-small-4)) 45%;
    background-repeat: no-repeat;

    /* Remove default down-arrow for IE */
    &::-ms-expand {
        display: none;
    }
    /* Color the selected option with the correct color for IE */
    &::-ms-value {
        color: var(--hw-color-gray-dark);
        background: none;
    }

    /* Clearfix */
    &::after {
        display: table;
        content: ' ';
        clear: both;
    }

    &--line {
        background-color: transparent;
        border-bottom: var(--hw-border-thickness) solid
            var(--hw-color-gray-normal);
        padding-left: 0px;
        padding-top: var(--hw-spacing-small-1);
        padding-bottom: var(--hw-spacing-small-3);
        height: calc(
            var(--hw-input-field-height) - var(--hw-spacing-small-4) -
                var(--hw-spacing-small-4) + var(--hw-spacing-small-1) +
                var(--hw-spacing-small-3)
        );
        border-radius: 0px;


        &:focus {
            border-bottom: var(--hw-border-thickness) solid
                var(--hw-color-primary-dark);
        }

        &[disabled],
        &:disabled,
        &[disabled='disabled'] {
            background: transparent;
            padding: var(--hw-spacing-small-4);
        }
    }

    &--white {
        background-color: var(--hw-color-white);
        /* Place the arrow, created below */
        //      background-position: calc(100% - var(--hw-spacing-small-4)) 45%;
    }

    &--line,
    &--white {
        background-image:
        /* Cut off the sharp ends of the arrow */ linear-gradient(
                45deg,
                transparent 74%,
                var(--hw-color-white) 0%
            ),
            linear-gradient(135deg, var(--hw-color-white) 26%, transparent 26%),
            /* Draw the arrow */
                linear-gradient(
                    135deg,
                    transparent 0,
                    transparent 72%,
                    var(--hw-color-white) 73%,
                    var(--hw-color-white) 100%
                ),
            linear-gradient(
                45deg,
                var(--hw-color-white) 0,
                var(--hw-color-white) 28%,
                var(--hw-color-gray-dark) 29%,
                var(--hw-color-gray-dark) 37%,
                transparent 38%,
                transparent 100%
            ),
            linear-gradient(
                135deg,
                transparent 0,
                transparent 62%,
                var(--hw-color-gray-dark) 63%,
                var(--hw-color-gray-dark) 71%,
                var(--hw-color-white) 72%,
                var(--hw-color-white) 100%
            );
        background-size: var(--hw-spacing-small-4) var(--hw-spacing-small-4);
        background-repeat: no-repeat;
    }
}