/**
  * Paragraph styles
  */

p,
a,
button {
    font-size: var(--hwc-font-size-p);
    line-height: 1.4;
    padding: 0;
    margin: 0;
}

input,
textarea,
select,
button {
    font-family: var(--hwc-font-primary-regular);
}

a {
    color: var(--hwc-color-gray-dark);
    text-decoration: none;
}

b {
    font-family: var(--hwc-font-primary-medium);
}

input {
    color: var(--hwc-color-gray-dark);
}

input::placeholder {
    color: var(--hwc-color-gray-dark);
}

/**
  * Header styles
  */
h1,
h2,
h3,
h4,
h5,
.hwc-h1,
.hwc-h1-large,
.hwc-h1-display,
.hwc-h2,
.hwc-h3,
.hwc-h4,
.hwc-h5 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
}

.hwc-h1-large,
.hwc-h1-display {
    font-size: var(--hwc-font-size-h1-large);
    font-family: var(--hwc-h1-large-font-family);
    line-height: var(--hwc-h1-large-line-height);
}

h1,
.hwc-h1 {
    font-size: var(--hwc-font-size-h1);
    font-family: var(--hwc-h1-font-family);
    line-height: var(--hwc-h1-line-height);
}

h2,
.hwc-h2 {
    font-size: var(--hwc-font-size-h2);
    font-family: var(--hwc-h2-font-family);
    line-height: var(--hwc-h2-line-height);
}

h3,
.hwc-h3 {
    font-size: var(--hwc-font-size-h3);
    font-family: var(--hwc-h3-font-family);
    line-height: var(--hwc-h3-line-height);
}

.hwc-h3-title {
    font-size: var(--hwc-font-size-h3);
    font-family: var(--hwc-font-primary-medium);
    line-height: var(--hwc-h3-line-height);
}

h4,
.hwc-h4 {
    font-size: var(--hwc-font-size-h4);
    font-family: var(--hwc-h4-font-family);
    line-height: var(--hwc-h4-line-height);
}

h5,
.hwc-h5 {
    font-size: var(--hwc-font-size-h5);
    font-family: var(--hwc-h5-font-family);
    line-height: var(--hwc-h5-line-height);
}

h6,
.hwc-h6 {
    font-size: var(--hwc-font-size-h6);
    font-family: var(--hwc-h6-line-height-font-family);
    line-height: var(--hwc-h6-line-height-line-height);
}

/**
  * Extra text styles
  */

.hwc-text {
    &-title {
        font-family: var(--hwc-font-primary-medium);
    }
    &-lead {
        font-size: var(--hwc-font-size-lead);
    }
    &-small {
        font-size: var(--hwc-font-size-small);
    }
    &-smaller {
        font-size: var(--hwc-font-size-smaller);
    }

    &-less-line-height {
        line-height: 1.2;
    }

    &-uppercase {
        text-transform: uppercase;
    }

    &-center {
        text-align: center;
    }

    &-right {
        text-align: right;
    }

    &-bold {
        font-family: var(--hwc-font-primary-bold);
    }

    &-medium {
        font-family: var(--hwc-font-primary-medium);
    }

    &-regular {
        font-family: var(--hwc-font-primary-regular);
    }

    &-light {
        font-family: var(--hwc-font-primary-light);
    }

    &-technical {
        font-family: var(--hwc-technical-font-family);
        font-size: var(--hwc-font-size-technical);
    }

    &-technical-title {
        font-family: var(--hwc-font-primary-medium);
        font-size: var(--hwc-font-size-technical);
    }

    &-caption-title {
        font-family: var(--hwc-font-primary-medium);
        font-size: var(--hwc-font-size-caption);
    }

    &-caption {
        font-family: var(--hwc-caption-font-family);
        font-size: var(--hwc-font-size-caption);
    }
}

/**
  * Max sizes for responsive typography
  */

@media (--xlarge) {
    .hwc-h1-large,
    .hwc-h1-display {
        font-size: var(--hwc-font-size-max-h1-large-px);
    }
    h1,
    .hwc-h1 {
        font-size: var(--hwc-font-size-max-h1-px);
    }
    h2,
    .hwc-h2 {
        font-size: var(--hwc-font-size-max-h2-px);
    }
    h3,
    .hwc-h3 {
        font-size: var(--hwc-font-size-max-h3-px);
    }
    h4,
    .hwc-h4 {
        font-size: var(--hwc-font-size-max-h4-px);
    }
    h5,
    .hwc-h5 {
        font-size: var(--hwc-font-size-max-h5-px);
    }
    h6,
    .hwc-h6 {
        font-size: var(--hwc-font-size-max-h6-px);
    }
}

:root {
    @media (--xlarge) {
        --hwc-font-size-caption: var(--hwc-font-size-max-caption-px);
        --hwc-font-size-p: var(--hwc-font-size-max-p-px);
        --hwc-font-size-lead: var(--hwc-font-size-max-lead-px);
        --hwc-font-size-technical: var(--hwc-font-size-max-technical-px);
        --hwc-font-size-small: var(--hwc-font-size-max-small-px);
        --hwc-font-size-smaller: var(--hwc-font-size-max-smaller-px);
        --hwc-font-size-smallest: var(--hwc-font-size-max-smallest-px);
        --hwc-font-size-card-title: var(--hwc-font-size-max-card-title-px);
    }
}

/** (``) **/

.hwc-h1-ridiculously-huge {
    @extend .hwc-h1-large;
}
