

/**
 * Block
 */

.hwc-linklist {
  color: var(--hwc-color-black);
  list-style: none;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  & li {
    margin-bottom: var(--hwc-spacing-small-2);
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  & a {
    text-decoration: none;
    font-family: var(--hwc-font-primary-regular);
    border-bottom: var(--hwc-border-thickness) solid
        var(--hwc-color-link-underline);
    fill: var(--hwc-color-link);
    color: var(--hwc-color-link);
    transition: all 0.1s ease;
    cursor: pointer;
    margin-right: 3px;

    &:last-of-type {
        margin-right: 0;
    }

    &:hover,
    &:active {
        color: var(--hwc-color-link-hover);
        fill: var(--hwc-color-link-hover);
        border-color: var(--hwc-color-link-underline-hover);

        & .hwc-link__text {
            border-color: var(--hwc-color-link-underline-hover);
        }
    }
    font-size: var(--hwc-font-size-p);
    line-height: 1.7;
    text-decoration-color: var(--hwc-color-primary);
  }

  
  /**
   * Modifiers
   */

  &--small a {
    font-size: var(--hwc-font-size-small);
  }
}
