@use '../node_modules/@posten-hedwig/core/sass/mixins';

.hwc-grid {
    padding: 0;
    margin: 0;
    margin-left: calc(var(--hwc-spacing-small-4) * -1);
    list-style: none;
    text-align:left;
}

@include mixins.medium {
    .hwc-grid {
        margin-left: calc(var(--hwc-spacing-medium-2) * -1);
    }
}

/**
   * Gutterless grids have all the properties of regular grids, minus any spacing.
   * Extends '.hwc-grid'.
   */
.hwc-grid--full {
    margin-left: 0;
}

.hwc-grid--full > .hwc-grid__item {
    padding-left: 0 !important;
}

/**
   * Align the entire grid to the right. Extends '.hwc-grid'.
   */
.hwc-grid--right {
    text-align: right;
}

.hwc-grid--right > .hwc-grid__item {
    text-align: left !important;
}

/**
   * Centered grids align grid items centrally without needing to use push or pull
   * classes. Extends '.hwc-grid'.
   */
.hwc-grid--center {
    text-align: center;
}

.hwc-grid--center > .hwc-grid__item {
    text-align: left !important;
}

/**
   * Align grid cells vertically ('.hwc-grid--middle' or '.hwc-grid--bottom'). Extends
   * '.hwc-grid'.
   */
.hwc-grid--middle > .hwc-grid__item {
    vertical-align: middle !important;
}

.hwc-grid--bottom > .hwc-grid__item {
    vertical-align: bottom !important;
}

/**
   * Create grids with narrower gutters. Extends '.hwc-grid'.
   */
.hwc-grid--narrow {
    margin-left: calc(var(--hwc-spacing-small-3) * -1);
}

.hwc-grid--narrow > .hwc-grid__item {
    padding-left: var(--hwc-spacing-small-3);
}

/**
   * Create grids with wider gutters. Extends '.hwc-grid'.
   */
.hwc-grid--wide {
    margin-left: calc(var(--hwc-spacing-small-4) * -1);
}

@include mixins.medium {
    .hwc-grid--wide {
        margin-left: calc(var(--hwc-spacing-medium-2) * -1);
    }
}

@include mixins.xlarge {
    .hwc-grid--wide {
        margin-left: calc(var(--hwc-spacing-medium-3) * -1);
    }
}

.hwc-grid--wide > .hwc-grid__item {
    padding-left: var(--hwc-spacing-small-4);
}

@include mixins.medium {
    .hwc-grid--wide > .hwc-grid__item {
        padding-left: var(--hwc-spacing-medium-2);
    }
}

@include mixins.xlarge {
    .hwc-grid--wide > .hwc-grid__item {
        padding-left: var(--hwc-spacing-medium-3);
    }
}

/*
   * Grid item styles
   */

.hwc-grid__item {
    display: inline-block;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: var(--hwc-spacing-small-4);
    vertical-align: top;
}

@include mixins.medium {
    .hwc-grid__item {
        padding-left: var(--hwc-spacing-medium-2);
    }
}

/**
  * Whole
  */
.hwc-one-whole {
    width: 100%;
}

/**
  * Halves
  */
.hwc-one-half {
    width: 50%;
}

/**
  * Thirds
  */
.hwc-one-third {
    width: 33.333%;
}

.hwc-two-thirds {
    width: 66.666%;
}

/**
  * Quarters
  */
.hwc-one-quarter {
    width: 25%;
}

.hwc-three-quarters {
    width: 75%;
}

/**
  * Fifths
  */
.hwc-one-fifth {
    width: 20%;
}

.hwc-two-fifths {
    width: 40%;
}

.hwc-three-fifths {
    width: 60%;
}

.hwc-four-fifths {
    width: 80%;
}

/**
  * Sixths
  */
.hwc-one-sixth {
    width: 16.666%;
}

.hwc-five-sixths {
    width: 83.333%;
}

/**
  * Eighths
  */
.hwc-one-eighth {
    width: 12.5%;
}

.hwc-three-eighths {
    width: 37.5%;
}

.hwc-five-eighths {
    width: 62.5%;
}

.hwc-seven-eighths {
    width: 87.5%;
}

/**
  * Tenths
  */
.hwc-one-tenth {
    width: 10%;
}

.hwc-three-tenths {
    width: 30%;
}

.hwc-seven-tenths {
    width: 70%;
}

.hwc-nine-tenths {
    width: 90%;
}

/**
  * Twelfths
  */
.hwc-one-twelfth {
    width: 8.333%;
}

.hwc-five-twelfths {
    width: 41.666%;
}

.hwc-seven-twelfths {
    width: 58.333%;
}

.hwc-eleven-twelfths {
    width: 91.666%;
}

/**
   * Our responsive classes, if we have enabled them.
   */
@media only screen {
    @include mixins.small {
        /**
         * Whole
         */
        .hwc-small--one-whole {
            width: 100%;
        }
        /**
         * Halves
         */
        .hwc-small--one-half {
            width: 50%;
        }

        /**
         * Thirds
         */
        .hwc-small--one-third {
            width: 33.333%;
        }

        .hwc-small--two-thirds {
            width: 66.666%;
        }

        /**
         * Quarters
         */
        .hwc-small--one-quarter {
            width: 25%;
        }

        .hwc-small--three-quarters {
            width: 75%;
        }

        /**
         * Fifths
         */
        .hwc-small--one-fifth {
            width: 20%;
        }

        .hwc-small--two-fifths {
            width: 40%;
        }

        .hwc-small--three-fifths {
            width: 60%;
        }

        .hwc-small--four-fifths {
            width: 80%;
        }

        /**
         * Sixths
         */
        .hwc-small--one-sixth {
            width: 16.666%;
        }

        .hwc-small--five-sixths {
            width: 83.333%;
        }

        /**
         * Eighths
         */
        .hwc-small--one-eighth {
            width: 12.5%;
        }

        .hwc-small--three-eighths {
            width: 37.5%;
        }

        .hwc-small--five-eighths {
            width: 62.5%;
        }

        .hwc-small--seven-eighths {
            width: 87.5%;
        }

        /**
         * Tenths
         */
        .hwc-small--one-tenth {
            width: 10%;
        }

        .hwc-small--three-tenths {
            width: 30%;
        }

        .hwc-small--seven-tenths {
            width: 70%;
        }

        .hwc-small--nine-tenths {
            width: 90%;
        }

        /**
         * Twelfths
         */
        .hwc-small--one-twelfth {
            width: 8.333%;
        }

        .hwc-small--five-twelfths {
            width: 41.666%;
        }

        .hwc-small--seven-twelfths {
            width: 58.333%;
        }

        .hwc-small--eleven-twelfths {
            width: 91.666%;
        }
    }

    @include mixins.medium {
        /**
         * Whole
         */
        .hwc-medium--one-whole {
            width: 100%;
        }

        /**
         * Halves
         */
        .hwc-medium--one-half {
            width: 50%;
        }

        /**
         * Thirds
         */
        .hwc-medium--one-third {
            width: 33.333%;
        }

        .hwc-medium--two-thirds {
            width: 66.666%;
        }

        /**
         * Quarters
         */
        .hwc-medium--one-quarter {
            width: 25%;
        }

        .hwc-medium--three-quarters {
            width: 75%;
        }

        /**
         * Fifths
         */
        .hwc-medium--one-fifth {
            width: 20%;
        }

        .hwc-medium--two-fifths {
            width: 40%;
        }

        .hwc-medium--three-fifths {
            width: 60%;
        }

        .hwc-medium--four-fifths {
            width: 80%;
        }

        /**
         * Sixths
         */
        .hwc-medium--one-sixth {
            width: 16.666%;
        }

        .hwc-medium--five-sixths {
            width: 83.333%;
        }

        /**
         * Eighths
         */
        .hwc-medium--one-eighth {
            width: 12.5%;
        }

        .hwc-medium--three-eighths {
            width: 37.5%;
        }

        .hwc-medium--five-eighths {
            width: 62.5%;
        }

        .hwc-medium--seven-eighths {
            width: 87.5%;
        }

        /**
         * Tenths
         */
        .hwc-medium--one-tenth {
            width: 10%;
        }

        .hwc-medium--three-tenths {
            width: 30%;
        }

        .hwc-medium--seven-tenths {
            width: 70%;
        }

        .hwc-medium--nine-tenths {
            width: 90%;
        }

        /**
         * Twelfths
         */
        .hwc-medium--one-twelfth {
            width: 8.333%;
        }

        .hwc-medium--five-twelfths {
            width: 41.666%;
        }

        .hwc-medium--seven-twelfths {
            width: 58.333%;
        }

        .hwc-medium--eleven-twelfths {
            width: 91.666%;
        }
    }

    @include mixins.large {
        /**
         * Whole
         */
        .hwc-large--one-whole {
            width: 100%;
        }

        /**
         * Halves
         */
        .hwc-large--one-half {
            width: 50%;
        }

        /**
         * Thirds
         */
        .hwc-large--one-third {
            width: 33.333%;
        }

        .hwc-large--two-thirds {
            width: 66.666%;
        }

        /**
         * Quarters
         */
        .hwc-large--one-quarter {
            width: 25%;
        }

        .hwc-large--three-quarters {
            width: 75%;
        }

        /**
         * Fifths
         */
        .hwc-large--one-fifth {
            width: 20%;
        }

        .hwc-large--two-fifths {
            width: 40%;
        }

        .hwc-large--three-fifths {
            width: 60%;
        }

        .hwc-large--four-fifths {
            width: 80%;
        }

        /**
         * Sixths
         */
        .hwc-large--one-sixth {
            width: 16.666%;
        }

        .hwc-large--five-sixths {
            width: 83.333%;
        }

        /**
         * Eighths
         */
        .hwc-large--one-eighth {
            width: 12.5%;
        }

        .hwc-large--three-eighths {
            width: 37.5%;
        }

        .hwc-large--five-eighths {
            width: 62.5%;
        }

        .hwc-large--seven-eighths {
            width: 87.5%;
        }

        /**
         * Tenths
         */
        .hwc-large--one-tenth {
            width: 10%;
        }

        .hwc-large--three-tenths {
            width: 30%;
        }

        .hwc-large--seven-tenths {
            width: 70%;
        }

        .hwc-large--nine-tenths {
            width: 90%;
        }

        /**
         * Twelfths
         */
        .hwc-large--one-twelfth {
            width: 8.333%;
        }

        .hwc-large--five-twelfths {
            width: 41.666%;
        }

        .hwc-large--seven-twelfths {
            width: 58.333%;
        }

        .hwc-large--eleven-twelfths {
            width: 91.666%;
        }
    }

    @include mixins.xlarge {
        /**
         * Whole
         */
        .hwc-xlarge--one-whole {
            width: 100%;
        }

        /**
         * Halves
         */
        .hwc-xlarge--one-half {
            width: 50%;
        }

        /**
         * Thirds
         */
        .hwc-xlarge--one-third {
            width: 33.333%;
        }

        .hwc-xlarge--two-thirds {
            width: 66.666%;
        }

        /**
         * Quarters
         */
        .hwc-xlarge--one-quarter {
            width: 25%;
        }

        .hwc-xlarge--three-quarters {
            width: 75%;
        }

        /**
         * Fifths
         */
        .hwc-xlarge--one-fifth {
            width: 20%;
        }

        .hwc-xlarge--two-fifths {
            width: 40%;
        }

        .hwc-xlarge--three-fifths {
            width: 60%;
        }

        .hwc-xlarge--four-fifths {
            width: 80%;
        }

        /**
         * Sixths
         */
        .hwc-xlarge--one-sixth {
            width: 16.666%;
        }

        .hwc-xlarge--five-sixths {
            width: 83.333%;
        }

        /**
         * Eighths
         */
        .hwc-xlarge--one-eighth {
            width: 12.5%;
        }

        .hwc-xlarge--three-eighths {
            width: 37.5%;
        }

        .hwc-xlarge--five-eighths {
            width: 62.5%;
        }

        .hwc-xlarge--seven-eighths {
            width: 87.5%;
        }

        /**
         * Tenths
         */
        .hwc-xlarge--one-tenth {
            width: 10%;
        }

        .hwc-xlarge--three-tenths {
            width: 30%;
        }

        .hwc-xlarge--seven-tenths {
            width: 70%;
        }

        .hwc-xlarge--nine-tenths {
            width: 90%;
        }

        /**
         * Twelfths
         */
        .hwc-xlarge--one-twelfth {
            width: 8.333%;
        }

        .hwc-xlarge--five-twelfths {
            width: 41.666%;
        }

        .hwc-xlarge--seven-twelfths {
            width: 58.333%;
        }

        .hwc-xlarge--eleven-twelfths {
            width: 91.666%;
        }
    }
}
