@use '../node_modules/@posten-hedwig/core/sass/mixins';
@use '../node_modules/@posten-hedwig/typography/sass/typography';

.hwc-info-box {
    background-color: var(--hwc-color-primary-lighter);
    border-radius: var(--hwc-border-radius);
    display: flex;
    padding: var(--hwc-spacing-medium-2);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: var(--hwc-font-primary-regular);
    font-size: var(--hwc-font-size-p);
    box-sizing: border-box;

    @include mixins.large {
        padding: var(--hwc-spacing-medium-3);
    }

    &__title {
        font-family: var(--hwc-font-primary-medium);
        font-size: var(--hwc-font-size-h3);
        margin-top: 0;
    }

    .hwc-info-box__body > *:not(:last-child) {
        margin-bottom: var(--hwc-spacing-small-3);
        @include mixins.large {
            margin-bottom: var(--hwc-spacing-small-4);
        }
    }

    &__icon {
        margin-right: var(--hwc-spacing-medium-1);
        @include mixins.large {
            margin-right: var(--hwc-spacing-medium-2);
        }
    }
}