@use '../node_modules/@posten-hedwig/core/sass/mixins';
@use '../node_modules/@posten-hedwig/button/sass/base';

/**
 * Block
 */

.hwc-footer {
    -webkit-font-smoothing: antialiased;
    font-family: var(--hwc-font-primary-regular);
    background: var(--hwc-color-primary-darker);
    padding-top: var(--hwc-spacing-large-1);
    padding-bottom: calc(var(--hwc-spacing-large-1) + var(--hwc-spacing-medium-2));
    margin: 0 auto;
    text-align:left;

    &__logo-link {
        position: relative;
        height: 75px;
        display: inline-block;
    }

    /**
     * Modifications to other components
     */

    .hwc-footer__importantlinks a {
        text-decoration: none;
        border-bottom: var(--hwc-border-thickness) solid var(--hwc-color-link-underline);
        font-size: var(--hwc-font-size-smaller);
        color: var(--hwc-color-primary-lighter);
        transition: all 0.1s ease;
        cursor: pointer;
        margin-right: 3px;
        margin-left: var(--hwc-spacing-medium-2);
        padding-bottom: var(--hwc-spacing-small-1);
        &:last-of-type {
            margin-right: 0;
        }
        &:first-of-type {
            margin-left: 0;
        }
        @include mixins.large {
            margin-left: var(--hwc-spacing-medium-3);
            &:first-of-type {
                margin-left: var(--hwc-spacing-medium-3);
            }
        }
        &:hover {
            color: var(--hwc-color-primary-light);
            border-bottom-color: var(--hwc-color-primary-light);
            text-decoration-color: var(--hwc-color-primary-light);
        }
    }

    p {
        color: var(--hwc-color-white);
    }

    h4,
    h2 {
        font-family: var(--hwc-font-primary-medium);
        font-size: var(--hwc-font-size-p);
        color: var(--hwc-color-white);
    }
    .hwc-footer-section {
        margin: 0;
        padding:0;
        margin-top: var(--hwc-spacing-small-4);
        list-style:none;

        li {
            margin-bottom: var(--hwc-spacing-small-2)
        }

        li:last-of-type {
            margin-bottom: 0;
        }

        a {
            color: var(--hwc-color-primary-lighter);
            font-size: var(--hwc-font-size-p);
            line-height: 1.7;
            text-decoration: none;
            border-bottom: none !important;

            &:hover {
                color: var(--hwc-color-primary-light);
            }
        }
    }

    .hwc-copyright {
        color: var(--hwc-color-primary-lighter);
        text-decoration-color: var(--hwc-color-primary);
        font-size: var(--hwc-font-size-smaller);
    }

    &__button a, &__button button {
        @include base.button;
        background: transparent;
        border: var(--hwc-border-thickness) solid var(--hwc-color-primary-light);
        color: var(--hwc-color-white);
        &:hover,
        &:active {
            color: var(--hwc-color-primary-light);
        }
        width: 100%;
        text-decoration: none;
    }

    &__hr {
        background: var(--hwc-color-primary-dark);
        margin-top: var(--hwc-spacing-small-2);
        height: var(--hwc-border-thickness);
        width: 100%;
    }

    .hwc-some {
        margin-top: var(--hwc-spacing-small-4);

        @include mixins.large {
            margin-top: 30px;
            float: right;
            .hwc-some__button:last-of-type {
                margin-right: 0;
            }
        }

        .hwc-some__button {
            color: var(--hwc-color-white);
            fill: var(--hwc-color-white);
            width: var(--hwc-spacing-medium-3);
            height: var(--hwc-spacing-medium-3);
            padding: 6px;
            margin-right: 4px;
            margin-bottom: 3px;
            font-size: 90%;
            display: inline-flex;
        }
    }

    .hwc-accordion {
        border: 0;
        padding: 0 var(--hwc-border-thickness);
        .hwc-accordion__item {
            &:not(:first-child) {
                border-top: var(--hwc-border-thickness) solid var(--hwc-color-primary-light);
            }

            &:last-of-type {
                border-bottom: var(--hwc-border-thickness) solid var(--hwc-color-primary-light);
            }
        }

        .hwc-accordion__trigger {
            font-size: var(--hwc-font-size-p);
            border: 0;
            color: var(--hwc-color-white);
            margin-left: 0;
            margin-right: 0;
            width: 100%;
            background-color: transparent;
            &:hover, &:focus {
                color: var(--hwc-color-primary-light);
            }
        }

        .hwc-accordion__icon:before,
        .hwc-accordion__icon:after {
            background-color: var(--hwc-color-white);
        }
        .hwc-linklist {
            list-style: none;
            padding-left: var(--hwc-spacing-medium-2);
            li {
                margin-bottom: 0;
            }
            a {
                padding-top: var(--hwc-spacing-small-3);
                padding-bottom: var(--hwc-spacing-small-3);
                display: inline-block;
                line-height: var(--hwc-p-line-height);
            }
        }

    }
}
